<html>
<head>
  <title>Signup for todo</title>
  <link href="/assets/styles.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/assets/todo-list.js"></script>
</head>
  <body>
    <h1>Signup for todo list</h1>
    <div id="todo-table">
        <form method="post" action="/signupped">
          <input type="text" name="name"  placeholder="name..." /><br /><br />
          <input type="text" name="email" required="" placeholder="email..." />
          <button type="submit">Submit Details</button>
        </form>
    </div>
  </body>
</html>
